@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary-color: #212121; /*heading*/
	--secondary-color: #ffffff; /*button text*/
	--background-color: #ffffff;
	--text-color: #828282;
	--accent-color: #f58634;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	text-decoration: none;
}

.logo img{
	width: 75px;
	height: 75px;
}

body {
	padding: 5rem 0 0 0;
}

section {
	margin-top: 2rem;
	padding: 0 4rem;
}

nav {
	/* background-color: red; */
	background-color: var(--background-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem 4rem;
	color: var(--primary-color);
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1rem;
	font-weight: 400;
}

.navbar a {
	padding-right: 2rem;
	color: var(--text-color);
}

button {
	padding: 1rem 1.5rem;
	background-color: var(--accent-color);
	border: none;
	color: var(--secondary-color);
	cursor: pointer;
}

button:hover {
	background-color: #d9752d;
}

.hero {
	display: flex;
	flex-direction: column;
}

.hero-content {
	display: flex;
	flex-direction: row;
	font-weight: 400;
	color: var(--text-color);
	align-items: center;
}

.hero-desc {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

.mini-box {
	background-color: var(--accent-color);
	height: 0.5rem;
	width: 20%;
	margin-right: 2rem;
}

.hero-content p {
	font-size: 1rem;
}

.hero-content h1 {
	font-weight: 500;
	font-size: 4rem;
	color: var(--primary-color);
	flex: 1;
}

.hero-img-cta {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.hero-img-cta img {
	width: 100%;
}

h2 {
	font-weight: 500;
	font-size: 2.5rem;
	color: var(--primary-color);
	margin-bottom: 1.5rem;
}

.product-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.product-head a {
	text-decoration: underline;
	color: var(--primary-color);
	font-weight: 500;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.product-head a:hover {
	color: var(--accent-color);
}

.product-container,
.testimoni-container,
.about-us-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.product-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--text-color);
}

h3 {
	font-weight: 500;
	font-size: 2rem;
	color: var(--primary-color);
}

.about-us-card {
	background-color: var(--accent-color);
	color: var(--background-color);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 1rem 1.5rem;
	margin-top: 1rem;
}

.about-us-card i {
	font-size: 2rem;
	margin-right: 1rem;
}

.testimoni-card img {
	border-radius: 50%;
	object-fit: cover;
	width: 300px;
	height: 300px;
}

.testimoni-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: var(--background-color);

	text-align: center;
	color: var(--primary-color);
}

.testimoni-card h3 {
	margin-top: 0.5rem;
}

h4 {
	color: var(--text-color);
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

footer {
	background-color: var(--accent-color);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-top: 3rem;
	padding: 1rem 4rem;
}

footer i {
	font-size: 1.5rem;
	margin-left: 1rem;
	color: var(--secondary-color);
}

h5 {
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
}

/* produk.html CSS*/
header {
	background-color: var(--accent-color);
	border-radius: 0 0 10px 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	color: var(--primary-color);
	padding: 2rem 4rem;
	margin-top: 1rem;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.25rem;
	padding: 1.25rem;
	max-width: 1200px;
	margin: 0 auto;
}

.product-card {
	background-color: var(--background-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s;
	text-align: center;
}

.product-card:hover {
	background-color: var(--accent-color);
}

.product-card img {
	display: block;
	margin: 0.7rem auto 0;
	width: 90%;
	border-radius: 8px;
}

.product-card h3 {
	font-size: 1.5rem;
	margin: 1rem;
	color: var(--primary-color);
}

.product-card p {
	font-size: 1rem;
	margin: 0 1rem 1rem;
	color: var;
}
