@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--primary-color: #212121; /*heading*/
	--secondary-color: #ffffff; /*button text*/
	--background-color: #ffffff;
	--text-color: #828282;
	--accent-color: #73ae37;
	--accent-color-hover: #5c8a2c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	text-decoration: none;
}

.logo img {
	width: 5rem;
}

body {
	padding: 5rem 0 0 0;
}

section {
	margin-top: 2.5rem;
	padding: 0 4rem;
}

nav {
	background-color: var(--background-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem 4rem;
	color: var(--primary-color);
}

button:hover {
	background-color: var(--accent-color-hover);
}

.hamburger {
	display: none;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 1.5rem;
}

.hamburger:hover {
	background-color: var(--background-color);
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1rem;
	font-weight: 400;
}

.navbar a {
	padding-right: 2rem;
	color: var(--text-color);
}

button {
	padding: 1rem 1.5rem;
	background-color: var(--accent-color);
	border: none;
	color: var(--secondary-color);
	cursor: pointer;
}

.hero {
	display: flex;
	flex-direction: column;
}

.hero-content {
	display: flex;
	flex-direction: row;
	font-weight: 400;
	color: var(--text-color);
	align-items: center;
}

.hero-desc {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

.mini-box {
	background-color: var(--accent-color);
	height: 0.5rem;
	width: 30%;
	margin-right: 2rem;
}

.hero-content p {
	font-size: 1rem;
}

.hero-content h1 {
	font-weight: 500;
	font-size: 4rem;
	color: var(--primary-color);
	flex: 1;
}

.hero-img-cta {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.hero-img-cta img {
	width: 100%;
}

.hero-img-cta a {
	color: var(--text-color);
}

h2 {
	font-weight: 500;
	font-size: 2.5rem;
	color: var(--primary-color);
	margin-bottom: 1.5rem;
}

.product-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.product-head a {
	text-decoration: underline;
	color: var(--primary-color);
	font-weight: 500;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.product-head a:hover {
	color: var(--accent-color);
}

.product-container,
.about-us-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.about h2 {
	margin-bottom: 1rem;
}

.product-card {
	background-color: var(--background-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	text-align: center;
	color: #ffffff;
}

.product-container .product-card:hover {
	transform: scale(1.05);
	background-color: var(--accent-color);
}

.product-container .product-card:hover p {
	color: var(--secondary-color);
}

.products .product-card:hover {
	transform: scale(1.05);
}

.product-card img {
	display: block;
	margin: 0.7rem auto 0;
	width: 90%;
	border-radius: 8px;
}

.product-card h3 {
	font-size: 1.5rem;
	margin: 1rem;
	color: var(--primary-color);
}

.product-card p {
	font-size: 1rem;
	margin: 0 1rem 1rem;
	color: var(--text-color);
}

/* Tombol Beli Sekarang mengikuti lebar card */
.product-card button {
	display: block;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	background-color: var(--accent-color);
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 0 0 10px 10px;
}

.product-card button:hover {
	background-color: var(--accent-color-hover);
}

h3 {
	font-weight: 500;
	font-size: 2rem;
	color: var(--primary-color);
}

.about-us-card {
	background-color: var(--accent-color);
	color: var(--background-color);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 1rem 1.5rem;
	margin-top: 1rem;
}

.about-us-card i {
	font-size: 2rem;
	margin-right: 1rem;
}

.testimoni-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	justify-content: center;
	padding: 0 1rem;
}

.testimoni-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	max-width: 300px;
	margin: 0 auto;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: var(--background-color);

	text-align: center;
	color: var(--primary-color);
}

.testimoni-card img {
	border-radius: 50%;
	object-fit: cover;
	width: 200px;
	height: 200px;
}

.testimoni-card h3 {
	margin-top: 0.5rem;
}

h4 {
	color: var(--text-color);
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

footer {
	background-color: var(--accent-color);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-top: 3rem;
	padding: 1rem 4rem;
}

footer i {
	font-size: 1.5rem;
	margin-left: 1rem;
	color: var(--secondary-color);
}

h5 {
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
}

/* produk.html CSS */
header {
	background-color: var(--accent-color);
	border-radius: 0 0 10px 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	color: var(--primary-color);
	padding: 2rem 4rem;
	margin-top: 3rem;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.25rem;
	padding: 1.25rem;
	max-width: 1200px;
	margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1439px) {
	nav {
		padding: 1rem 3rem;
	}

	header {
		margin-top: 1.7rem;
	}

	.mini-box {
		width: 50%;
	}

	.products {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto auto;
		justify-items: center;
	}

	.products .product-card:nth-child(7) {
		grid-column: 1;
	}

	.products .product-card:nth-child(8) {
		grid-column: 2;
	}

	.products .product-card p {
		margin-bottom: 4rem;
	}

	.products .product-card {
		position: relative;
	}

	.products .product-card button {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

/* CSS untuk tablet */
@media (min-width: 768px) and (max-width: 1023px) {
	html {
		font-size: 14px;
	}

	nav {
		padding: 1rem 2rem;
	}

	.product,
	.about,
	.testimoni {
		margin-top: 3rem;
	}

	.navbar {
		display: none;
		position: absolute;
		top: 86px;
		left: 0;
		right: 0;
		background-color: var(--background-color);
		flex-direction: column;
		align-items: center;
	}

	.hamburger button:hover {
		background-color: var(--background-color);
	}

	.navbar.active {
		display: flex;
	}

	.navbar a {
		margin: 0.5rem 0;
		padding: 0.4rem 0;
	}

	.contact-us-btn {
		margin: 0.5rem 0 0;
		width: 100%;
	}

	.hamburger {
		display: block;
		color: var(--accent-color);
	}

	.hero-content {
		flex-direction: column;
		text-align: center;
	}

	.hero-desc {
		flex-direction: column;
	}

	.mini-box {
		margin: 1.5rem 0;
	}

	.hero-content h1 {
		font-size: 3rem;
	}

	.hero-content p {
		font-size: 1.2rem;
	}

	.testimoni-container,
	.product-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
	}

	.testimoni-card:nth-child(3),
	.product-container .product-card:nth-child(3) {
		grid-column: span 2;
	}

	.about h2 {
		margin-bottom: 0.5rem;
	}

	.about-us-container {
		gap: 1rem;
	}

	.about-us-card {
		padding: 1rem 1.3rem;
	}

	.products {
		grid-template-columns: repeat(2, 1fr);
	}

	.products .product-card p {
		margin-bottom: 4rem;
	}

	.products .product-card {
		position: relative;
	}

	.products .product-card button {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

/* CSS mobile L */
@media (min-width: 425px) and (max-width: 767px) {
	html {
		font-size: 14px;
	}

	nav {
		padding: 1rem 2rem;
	}

	header {
		border-radius: 10px;
	}

	section {
		padding: 0 2rem;
	}

	.navbar {
		display: none;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		background-color: var(--background-color);
		flex-direction: column;
		align-items: center;
	}

	.hamburger button:hover {
		background-color: var(--background-color);
	}

	.navbar.active {
		display: flex;
	}

	.navbar a {
		margin: 0.5rem 0;
		padding: 0.4rem 0;
	}

	.contact-us-btn {
		margin: 0.5rem 0 0;
		width: 100%;
	}

	.hamburger {
		display: block;
		color: var(--accent-color);
	}

	.hero-img-cta img {
		width: 100%;
	}

	.product-container,
	.about-us-container {
		grid-template-columns: 1fr;
	}

	.about-us-container {
		gap: 0.5rem;
	}

	.testimoni-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.products {
		gap: 3rem;
	}

	.product-card:hover {
		transform: scale(1.05);
		background-color: var(--background-color);
	}

	.product-card:hover p {
		color: var(--text-color);
	}

	.hero-content {
		flex-direction: column;
	}

	.hero-desc {
		flex-direction: column;
	}

	.mini-box {
		margin: 1.5rem 0;
	}

	h1 {
		font-size: 2rem;
	}

	.logo img {
		width: 4rem;
	}

	.hero-img-cta img {
		display: none;
	}

	.hero-content h1 {
		text-align: center;
	}

	.product-head a {
		text-align: right;
	}

	.about,
	.testimoni,
	.product {
		margin-top: 3rem;
	}

	.about h2 {
		margin-bottom: 0.5rem;
	}
}

/* CSS untuk layar kecil (mobile S and M) */
@media (min-width: 320px) and (max-width: 424px) {
	html {
		font-size: 12px;
	}

	nav {
		padding: 1rem 2rem;
	}

	header {
		border-radius: 10px;
	}

	section {
		padding: 0 2rem;
	}

	.navbar {
		display: none;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		background-color: var(--background-color);
		flex-direction: column;
		align-items: center;
	}

	.hamburger button:hover {
		background-color: var(--background-color);
	}

	.navbar.active {
		display: flex;
	}

	.navbar a {
		margin: 0.5rem 0;
		padding: 0.4rem 0;
	}

	.contact-us-btn {
		margin: 0.5rem 0 0;
		width: 100%;
	}

	.hamburger {
		display: block;
		color: var(--accent-color);
	}

	.hero-img-cta img {
		width: 100%;
	}

	.product-container,
	.about-us-container {
		grid-template-columns: 1fr;
	}

	.about-us-container {
		gap: 0.5rem;
	}

	.testimoni-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.products {
		gap: 3rem;
	}

	.product-card:hover {
		transform: scale(1.05);
		background-color: var(--background-color);
	}

	.product-card:hover p {
		color: var(--text-color);
	}

	.hero-content {
		flex-direction: column;
	}

	.hero-desc {
		flex-direction: column;
	}

	.mini-box {
		margin: 1.5rem 0;
	}

	h1 {
		font-size: 2rem;
	}

	.logo img {
		width: 4rem;
	}

	.hero-img-cta img {
		display: none;
	}

	.hero-content h1 {
		text-align: center;
	}

	.product-head a {
		text-align: right;
	}

	.about,
	.testimoni,
	.product {
		margin-top: 3rem;
	}

	.about h2 {
		margin-bottom: 0.5rem;
	}
}
